.mainParent {
  width: 100%;
  text-align: center;
  padding: 0px 150px;
  overflow: hidden;
}

.recipeName {
  color: #ffffff;
  font-size: 80px;
  font-family: "Courier New", monospace;
}
.photoClass {
  display: flex;
  background-image: url("../images/apple-pie.jpg");
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vh;
}
.textGrandmother {
  display: flex;
  width: 800px;
  /* justify-content: center; */
  /* align-items: center; */
  font-size: 25px;
}

ul {
  list-style: none;
}

.listcounter > ol {
  list-style: none;
}
.listcounter ol > li {
  counter-increment: listcounter;
}

.listcounter ol > li::before {
  content: counter(listcounter) ")";
}
